name: Build Release Binaries

on:
  workflow_dispatch:
  pull_request:
  push:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
          - target: aarch64-unknown-linux-gnu
          - target: armv7-unknown-linux-gnueabihf
    steps:
      - name: Check out source
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Install cross
        run: cargo install cross

      - name: Build release binary with cross
        run: cross build --release --target ${{ matrix.target }}

      - name: Upload build as workflow artifact
        uses: actions/upload-artifact@v4
        with:
          name: mcap-foxglove-video-extract-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/mcap-foxglove-video-extract
          if-no-files-found: error

      - name: Rename artifact
        run: mv target/${{ matrix.target }}/release/mcap-foxglove-video-extract mcap-foxglove-video-extract-${{ matrix.target }}

      - name: Attach artifacts to GitHub release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: mcap-foxglove-video-extract-${{ matrix.target }}
          token: ${{ secrets.GITHUB_TOKEN }}
